# vim: ft=hyprlang
general {
    grace = 5
    hide_cursor = true
    ignore_empty_input = true
    fail_timeout = 5000 # milliseconds before fail_text and fail_color disappears
}

# Applies to both monitors
background {
    path = screenshot
    color = rgb({{ trimPrefix "#" .colors.bg_dim }})

    # all these options are taken from hyprland, see https://wiki.hyprland.org/Configuring/Variables/#blur for explanations
    blur_passes = 3 # 0 disables blurring
    noise = 0.1
}

label {
    monitor = DP-2
    text_align = center
    text = Welcome back, <span foreground='#{{ .colors.green }}'>$DESC</span>
    color = rgb({{ trimPrefix "#" .colors.fg0 }})
    font_size = 30
    font_family = FiraCode
    position = 0, 380
    halign = center
    valign = center
    shadow_passes = 3
    shadow_size = 10
    shadow_boost = 5
}

shape {
    monitor = DP-2
    size = 360, 360
    color = rgba({{ trimPrefix "#" .colors.bg1 }}99)
    rounding = -1
    border_size = 8
    border_color = rgba({{ trimPrefix "#" .colors.green }}e5)
    shadow_passes = 3

    position = 0, 80
    halign = center
    valign = center
}

label {
    monitor = DP-2
    text_align = center
    text = $TIME12
    color = rgb({{ trimPrefix "#" .colors.fg1 }})
    font_size = 40
    font_family = FiraCode
    position = 0, 80
    halign = center
    valign = center
}

# Doesn't display text as you type or show any messages,
# but useful as an indicator that you are typing something
input-field {
    monitor = DP-2
    size = 0, 0
    outline_thickness = 30
    hide_input = true

    outer_color = rgba({{ trimPrefix "#" .colors.red }}00) rgba({{ trimPrefix "#" .colors.green }}00) rgba({{ trimPrefix "#" .colors.blue }}00)
    capslock_color = rgb({{ trimPrefix "#" .colors.red }})
    numlock_color = rgb({{ trimPrefix "#" .colors.red }})
    bothlock_color = rgb({{ trimPrefix "#" .colors.red }})

    invert_numlock = true # change color if numlock is off
    position = 0, -25
}


label {
    monitor = DP-2
    text_align = center
    text = $FAIL
    color = rgb({{ trimPrefix "#" .colors.red }})
    font_size = 20
    font_family = FiraCode
    position = 0, -240
    halign = center
    valign = center
    shadow_passes = 3
    shadow_size = 10
    shadow_boost = 5
}

label {
    monitor = DP-2
    text_align = center
    text = <b>$ATTEMPTS[]</b>
    color = rgb({{ trimPrefix "#" .colors.red }})
    font_size = 20
    font_family = FiraCode
    position = 0, -280
    halign = center
    valign = center
    shadow_passes = 3
    shadow_size = 10
    shadow_boost = 5
}

label {
    monitor = DP-1
    text_align = center
    text = cmd[update:60000] curl -s wttr.in/?format=1
    color = rgb({{ trimPrefix "#" .colors.fg0 }})
    font_size = 30
    font_family = FiraCode
    position = 0, 240
    halign = center
    valign = center
    shadow_passes = 3
    shadow_size = 10
    shadow_boost = 5
}

label {
    monitor = DP-1
    text_align = left
    text = cmd[update:0] fortune -s
    color = rgb({{ trimPrefix "#" .colors.fg0 }})
    font_size = 30
    font_family = FiraCode
    position = 0, -80
    halign = center
    valign = center
    shadow_passes = 3
    shadow_size = 10
    shadow_boost = 5
}
