# vim: ft=hyprlang

$left_mon = DP-2
$right_mon = DP-1

$bg_fallback_color       = rgb({{ trimPrefix "#" .colors.bg_dim }})
$bg_text_color           = rgb({{ trimPrefix "#" .colors.fg0 }})
$circle_fill_color       = rgba({{ trimPrefix "#" .colors.bg1 }}99)
$circle_border_color     = rgba({{ trimPrefix "#" .colors.green }}e5)
$circle_text_color       = rgb({{ trimPrefix "#" .colors.fg1 }})
$text_hl_color           = rgb({{ trimPrefix "#" .colors.green }})
$text_err_color          = rgb({{ trimPrefix "#" .colors.red }})
$typing_indicator_colors = rgba({{ trimPrefix "#" .colors.red }}00) rgba({{ trimPrefix "#" .colors.green }}00) rgba({{ trimPrefix "#" .colors.blue }}00)

general {
    grace = 5
    hide_cursor = true
    ignore_empty_input = true
    fail_timeout = 5000 # milliseconds before fail_text and fail_color disappears
}

# Applies to both monitors
background {
    path = screenshot
    color = $bg_fallback_color

    blur_passes = 3
    noise = 0.1
}

label {
    monitor = $left_mon
    text_align = center
    text = Welcome back, <span foreground='#{{ .colors.green }}'>$DESC</span>
    color = $bg_text_color
    font_size = 30
    font_family = FiraCode
    position = 0, 380
    shadow_passes = 3
    shadow_size = 10
    shadow_boost = 5
}

shape {
    monitor = $left_mon
    size = 360, 360
    color = $circle_fill_color
    rounding = -1
    border_size = 8
    border_color = $circle_border_color
    shadow_passes = 3

    position = 0, 80
    halign = center
    valign = center
}

label {
    monitor = $left_mon
    text_align = center
    text = $TIME12
    color = $circle_text_color
    font_size = 40
    font_family = FiraCode
    position = 0, 80
}

# Doesn't display text as you type or show any messages,
# but useful as an indicator that you are typing something
input-field {
    monitor = $left_mon
    size = 0, 0
    outline_thickness = 30
    hide_input = true

    outer_color = $typing_indicator_colors
    capslock_color = $text_err_color
    numlock_color = $text_err_color
    bothlock_color = $text_err_color

    invert_numlock = true # change color if numlock is off
    position = 0, -25
}


label {
    monitor = $left_mon
    text_align = center
    text = $FAIL
    color = $text_err_color
    font_size = 20
    font_family = FiraCode
    position = 0, -240
    shadow_passes = 3
    shadow_size = 10
    shadow_boost = 5
}

label {
    monitor = $left_mon
    text_align = center
    text = <b>$ATTEMPTS[]</b>
    color = $text_err_color
    font_size = 20
    font_family = FiraCode
    position = 0, -280
    shadow_passes = 3
    shadow_size = 10
    shadow_boost = 5
}

label {
    monitor = $right_mon
    text_align = center
    text = cmd[update:1000] cat /tmp/weather_cached
    color = $bg_text_color
    font_size = 30
    font_family = FiraCode
    position = 0, 240
    shadow_passes = 3
    shadow_size = 10
    shadow_boost = 5
}

label {
    monitor = $right_mon
    text_align = left
    text = cmd[update:0] fortune -s
    color = $bg_text_color
    font_size = 30
    font_family = FiraCode
    position = 0, -80
    shadow_passes = 3
    shadow_size = 10
    shadow_boost = 5
}
