# vim: ft=gitignore

[user]
    name = Jason Graham
    email = {{ .email }}
[color]
    ui = true
[column]
    ui = auto
[branch]
    sort = -committerdate
[tag]
    sort = version:refname
[push]
    default = simple
    autoSetupRemote = true
    followTags = true
[fetch]
    prune = true
    pruneTags = true
    all = true
[commit]
    verbose = true
[rerere]
    enabled = true
    autoupdate = true
[core]
    editor = nvim
    autocrlf = input
    pager = delta
{{- if eq .osid "linux-arch" }}
    attributesfile = ~/.gitattributes
[merge "mergiraf"]
    name = mergiraf
    driver = mergiraf merge --git %O %A %B -s %S -x %X -y %Y -p %P
{{- end }}
[merge]
    tool = nvimdiff
[mergetool]
    prompt = false
[mergetool "nvimdiff"]
    layout = "LOCAL,BASE,REMOTE / MERGED"
[init]
    defaultBranch = master
[alias]
    lol = log --graph --decorate --oneline
    lola = log --graph --decorate --oneline --all
    st = status -sb
    diffn = diff --no-ext-diff
    pushf = push --force-with-lease --force-if-includes
[delta]
    syntax-theme = gruvbox-dark
    plus-color = "{{ .colors.green }}"
    minus-color = "{{ .colors.red }}"
    line-numbers = true
[interactive]
    diffFilter = delta --color-only
[rebase]
	updateRefs = true
    autoSquash = true
    autoStash = true
[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true
{{- if .headless }}
    colorMoved = default
{{- else }}
    external = difft
{{- end -}}
