# vim: ft=gitignore

[user]
    name = Jason Graham
    email = {{ .email }}
[color]
    ui = true
[core]
    editor = nvim
    autocrlf = input
    pager = delta
[merge]
    tool = nvim -d
[init]
	defaultBranch = master
[alias]
    lol = log --graph --decorate --oneline
    lola = log --graph --decorate --oneline --all
    st = status -sb
    diffn = diff --no-ext-diff
    pushf = push --force-with-lease --force-if-includes
[delta]
    syntax-theme = gruvbox-dark
    plus-color = "#98971a"
    minus-color = "#cc241d"
    line-numers = true
[interactive]
    diffFilter = delta --color-only
[diff]
{{- if .headless }}
    colorMoved = default
{{- else }}
    external = difft
{{- end -}}
