{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

set -eu -o pipefail

{{   if eq .osid "linux-arch" -}}
sudo pacman -Syu --needed
{{-     range .packages.linux.arch.headless }} {{ . -}} {{- end }}
{{-     if not .headless -}}
{{-       range .packages.linux.arch.headed }} {{ . -}} {{- end }}
{{-     end -}}
{{-  end -}}

{{- if eq .osid "linux-ubuntu" -}}
sudo apt-get update && sudo apt-get install
{{-     range .packages.linux.ubuntu.headless }} {{ . -}} {{- end }}
{{-     if not .headless -}}
{{-       range .packages.linux.ubuntu.headed }} {{ . -}} {{- end }}
{{-     end -}}
{{-   end }}

# vim ft: bash
{{- end -}}
