{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

set -eu -o pipefail

{{   if eq .osid "linux-arch" -}}
# First install packages needed for building other packages
if ! pacman -Q base-devel &> /dev/null ; then
    sudo pacman -Syu base-devel
fi

# Set up and install aurutils and aurto
# $1 is the pkg name
# $2 is the key required, if present
install_aur_pkg () {
    local -r PKG=$1
    local -r GPGKEY=${2:-}
    local -r TD=$(mktemp -d)
    cd "$TD"
    curl -L https://aur.archlinux.org/cgit/aur.git/snapshot/"$PKG".tar.gz | tar xz
    cd "$PKG"
    if [ -n "$GPGKEY" ]; then
        gpg --recv-keys "$GPGKEY"
    fi
    makepkg -srci
}

if ! pacman -Q aurto &> /dev/null ; then
    install_aur_pkg aurutils DBE7D3DD8C81D58D0A13D0E76BC26A17B9B7018A
    install_aur_pkg aurto
    aurto init
fi

if ! grep -q aurto /etc/pacman.conf ; then
    printf "# aurto repo\nInclude = /etc/pacman.d/aurto" | sudo tee -a /etc/pacman.conf > /dev/null
fi

{{     if not .headless -}}
aurto add
{{-      range .packages.linux.arch.aur }} {{ . -}} {{- end }}
{{-    end }}

sudo pacman -Syu --needed
{{-     range .packages.linux.arch.headless }} {{ . -}} {{- end }}
{{-     if not .headless -}}
{{-       range .packages.linux.arch.headed }} {{ . -}} {{- end }}
{{-       range .packages.linux.arch.aur }} {{ . -}} {{- end }}
{{-     end -}}
{{-  end -}}

{{- if eq .osid "linux-ubuntu" -}}
sudo apt-get update && sudo apt-get install
{{-     range .packages.linux.ubuntu.headless }} {{ . -}} {{- end }}
{{-     if not .headless -}}
{{-       range .packages.linux.ubuntu.headed }} {{ . -}} {{- end }}
{{-     end -}}
{{-   end }}

# vim ft: bash
{{- end -}}
