## vim: ft=kitty
## name: Gruvbox Material Dark Hard
## author: Sainnhe Park
## license: MIT
## upstream: https://raw.githubusercontent.com/rsaihe/gruvbox-material-kitty/main/colors/gruvbox-material-dark-hard.conf
## blurb: A modified version of Gruvbox with softer contrasts

background {{ .colors.bg0 }}
foreground {{ .colors.fg0 }}

selection_background {{ .colors.fg0 }}
selection_foreground {{ .colors.bg0 }}

cursor {{ .colors.grey2 }}
cursor_text_color background

# Black
color0 {{ .colors.grey0 }}
color8 {{ .colors.grey1 }}

# Red
color1 {{ .colors.red }}
color9 {{ .colors.red }}

# Green
color2  {{ .colors.green }}
color10 {{ .colors.green }}

# Yellow
color3  {{ .colors.orange }}
color11 {{ .colors.yellow }}

# Blue
color4  {{ .colors.blue }}
color12 {{ .colors.blue }}

# Magenta
color5  {{ .colors.purple }}
color13 {{ .colors.purple }}

# Cyan
color6  {{ .colors.aqua }}
color14 {{ .colors.aqua }}

# White
color7  {{ .colors.fg0 }}
color15 {{ .colors.fg0 }}
