/* Gruvbox Dark text color scheme */
@define-color fg0    #d4be98;
@define-color fg1    #ddc7a1;
@define-color bg0    #1d2021;
@define-color bg1    #282828;
@define-color red    #ea6962;
@define-color gray   #928374;
@define-color purple #d3869b;
@define-color aqua   #89b482;
@define-color blue   #7daea3;
@define-color green  #a9b665;
@define-color yellow #d8a657;
@define-color orange #e78a4e;

* {
  border: none;
  border-radius: 10px;
  font-family: FiraCode Nerd Font Mono;
  font-size: 16px;
  min-height: 10px;
}

#submap,
#window,
#workspaces,
#network,
#cava,
#pulseaudio,
#clock,
#memory,
#cpu,
#custom-weather,
#tray {
  margin-top: 5px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  transition: none;
}

#custom-weather {
  background: @blue;
  color: @bg0;
}

window#waybar {
  background: transparent;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.empty #window,
window#waybar.solo #window {
  color: transparent;
  background-color: transparent;
}

#submap {
  background-color: @red;
  color: @fg0;
}

#window {
  background-color: @bg0;
  color: @fg0;
}

#workspaces {
  padding-left: 0px;
  padding-right: 0px;
  font-size: 4px;
  background: @bg0;
}

#workspaces button {
  color: @blue;
  background: transparent;
  border-radius: 2px;
}

#workspaces button.occupied {
  color: @red;
  background: transparent;
  font-size: 4px;
}

#workspaces button.active {
  color: @aqua;
  border-color: @aqua;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  border-color: @bg0;
  background-color: @aqua;
  color: @bg0;
}

#workspaces button.active:hover {
  border-color: @bg0;
  background-color: @aqua;
  color: @bg0;
}

#network {
  color: @bg0;
  background: @purple;
}

#cava {
  color: @bg0;
  background: @purple;
}

#pulseaudio {
  color: @bg0;
  background: @yellow;
}

@keyframes blink {
  to {
    background-color: @orange;
    color: @bg0;
  }
}

#clock {
  color: @bg0;
  background: @aqua;
}

#memory {
  color: @bg0;
  background: @purple;
}
#cpu {
  color: @bg0;
  background: @blue;
}
#tray {
  color: @bg0;
  background: @fg0;
}

tooltip label {
  color: @fg1;
}

tooltip {
  background-color: @bg1;
  border-color: @fg1;
}
