/* Gruvbox Dark text color scheme */
@define-color fg     #ddc7a1;
@define-color bg     #282828;
@define-color red    #ea6962;
@define-color gray   #928374;
@define-color purple #d3869b;
@define-color aqua   #89b482;
@define-color blue   #7daea3;
@define-color green  #a9b665;
@define-color yellow #d8a657;
@define-color orange #e78a4e;

* {
  border: none;
  border-radius: 10px;
  font-family: Monospace;
  font-size: 16px;
  min-height: 10px;
}

#mode,
#window,
#workspaces,
#network,
#pulseaudio,
#clock,
#memory,
#cpu,
#tray {
  margin-top: 5px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  transition: none;
}

window#waybar {
  background: transparent;
}

window#waybar.hidden {
  opacity: 0.2;
}

#waybar.empty #window {
  color: transparent;
  background-color: transparent;
}

#mode {
  background-color: @red;
  color: @fg;
}

#window {
  background-color: @bg;
  color: @fg;
}

#workspaces {
  padding-left: 0px;
  padding-right: 0px;
  font-size: 4px;
  background: @bg;
}

#workspaces button {
  color: @blue;
  background: transparent;
  border-radius: 2px;
}

#workspaces button.occupied {
  color: @red;
  background: transparent;
  font-size: 4px;
}

#workspaces button.focused {
  color: @aqua;
  border-color: @aqua;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  border-color: @bg;
  background-color: @aqua;
  color: @bg;
}

#workspaces button.focused:hover {
  border-color: @bg;
  background-color: @aqua;
  color: @bg;
}

#network {
  color: @bg;
  background: @purple;
}

#pulseaudio {
  color: @bg;
  background: @yellow;
}

@keyframes blink {
  to {
    background-color: @orange;
    color: @bg;
  }
}

#clock {
  color: @bg;
  background: @aqua;
}

#memory {
  color: @bg;
  background: @purple;
}
#cpu {
  color: @bg;
  background: @blue;
}
#tray {
  color: @bg;
  background: @fg;
}
