sort=-time
layer=overlay
background-color={{ .colors.bg_dim }}
width=300
height=110
border-size=2
border-color={{ .colors.blue }}
border-radius=15
max-icon-size=64
default-timeout=10000
font=FireCode Nerd Font Mono 14
text-color={{ .colors.fg0 }}

[urgency=low]
border-color={{ .colors.green }}

[urgency=normal]
border-color={{ .colors.yellow }}

[urgency=high]
border-color={{ .colors.red }}
default-timeout=0
